<div [formGroup]="typedForm">
  <div>
    <label>
      str
      <input type="text" formControlName="str" />
    </label>
  </div>

  <hr />

  <div>
    <label>
      strArr
      <select multiple formControlName="strArr">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </label>
  </div>

  <hr />

  <button (click)="addStrCtrlArrControl()">Add strCtrlArr Control</button>

  <div *ngFor="let ctrl of typedForm.controls.strCtrlArr.controls; let i = index">
    <label>
      strArr # {{ i }}
      <input type="text" [formControl]="ctrl" />
    </label>
  </div>

  <hr />

  <button (click)="addObjGroupArrFormGroup()">Add objGroupArr FormGroup</button>

  <div *ngFor="let objFormGroup of typedForm.controls.objGroupArr.controls; let i = index">
    <label>
      objGroupArr # {{ i }}
      <input type="text" placeholder="name" [formControl]="objFormGroup.controls.name" />
    </label>
  </div>

  <hr />

  <code> typedForm: {{ typedForm.value | json }} </code>
</div>
