<div [formGroup]="typedForm">
  <div>
    <label>
      str
      <input type="text" formControlName="str" />
    </label>
  </div>

  <hr />

  <button (click)="addStrArrControl()">Add StrArr Control</button>

  <div *ngFor="let ctrl of typedForm.controls.strArr.controls; let i = index">
    <label>
      strArr # {{ i }}
      <input type="text" [formControl]="ctrl" />
    </label>
  </div>

  <hr />
  <button (click)="addObjArrControl()">Add ObjArr Control</button>

  <div *ngFor="let itemFormGroup of typedForm.controls.objArr.controls; let i = index">
    <label>
      objArr # {{ i }}
      <input type="text" placeholder="name" [formControl]="itemFormGroup.controls.name" />
    </label>
  </div>

  <hr />
  <code> typedForm: {{ typedForm.value | json }} </code>
</div>
